{{ form_start(form, {'attr': {'id': 'newsletterForm'}}) }}
{{ form_widget(form.email, {'id': 'input_newsletter'}) }}
<button type="submit" class="btn btn-default btn-sm mybutton" formnovalidate>OK</button>
{{ form_end(form) }}