{% extends "AppBundle::layout.html.twig" %}


{% block title %}{{ parent() }} Accueil{% endblock %}


{% block body %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text white-text">Nos amis les oiseaux</h1>
                <div class="row center">
                    <h5 class="header col s12 light white-text">Venez nous aider à recencer les espèces</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax">{% image '@AppBundle/Resources/public/images/background3.jpg' %}
            <img src= " {{ asset_url }} " alt= "Unsplashed background img 3" />
            {% endimage %}
        </div>
    </div>

<!-- A propos de nous -->
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>A propos de l'association</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>

        </div>
    </div>

    <!-- caroussel d'image -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Caroussel d'image + caroussel description</h4>
                </div>

                <div class="col s12 m6">
                        <h4 class="center teal-text">Images (10 aléatoires)</h4>
                        <h5 class="center teal-text"></h5>

                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h4 class="center teal-text">titre des images du caroussel</h4>
                        <h5 class="center teal-text">texte de description du caroussel</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Derniers Ajouts avec Map google -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Derniers Ajouts</h4>
                </div>

                <div class="col s12 m6">
                    <h4 class="center teal-text">les 10 dernières observations</h4>
                    <h5 class="center teal-text"></h5>

                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h4 class="center teal-text">Carte google</h4>
                        <h5 class="center teal-text"></h5>
                        <iframe id="map" class="js_required" src="https://maps.google.com/?ie=UTF8&amp;ll=47.1362,-2.1918&amp;t=h&amp;z=10&amp;output=embed"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- effet Parallaxdiv id   <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax">{% image '@AppBundle/Resources/public/images/background2.jpg' %}
            <img src= " {{ asset_url }} " alt= "Unsplashed background img 2" />
            {% endimage %}
        </div>
    </div>

   <!-- Compteurs -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3 class="center teal-text">Compteurs</h3>
                    <p class="center-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed.</p>
                </div>

                    <div class="col s12 m3">
                        <h3 class="center teal-text">16</h3>
                        <h5 class="center teal-text">Observateurs</h5>
                    </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <h3 class="center teal-text">22</h3>
                        <h5 class="center teal-text">Naturalistes</h5>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <h3 class="center teal-text">5 222</h3>
                        <h5 class="center teal-text">Espèces recencées</h5>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <h3 class="center teal-text">150</h3>
                        <h5 class="center teal-text">Observations</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}