{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - L'association{% endblock %}


{% block body %}
 {% block container %}
<hr class="uk-grid-divider">
<div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-2-3">
        <div class="uk-panel uk-panel-header">

            <h3 class="uk-panel-title">A propos de l'association</h3>
        </div>
    </div>

</div>
{% endblock %}