<!--Content-->
<div class="modal-content ppgen">
    <!--Header-->
    <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">La charte du respect et de la protection des oiseaux</h4>
    </div>
    <!--Body-->
    <div class="modal-body">

        <p class="card-text" style="margin-left: 10px">
            Pour limiter les risques de déranger les oiseaux, vous devez impérativement :
        </p>
        <ul class="ulbloctext" style="padding-left: 10%; padding-right: 5%">
            <li class="libloctext">Eviter de poursuivre ou d'encercler les oiseaux</li>
            <li class="libloctext">Eviter les gestes brusques</li>
            <li class="libloctext">Eviter de faire du bruit </li>
            <li class="libloctext">Garder une distance de sécurité et utiliser des jumelles ou une longue vue</li>
            <li class="libloctext">Réduire le temps de présence inutile </li>
            <li class="libloctext">Rester éloigné des oiseaux qui couvent leurs oeufs</li>
            <li class="libloctext">Ne jamais toucher ou déplacer un nid, des œufs ou des oisillons</li>
            <li class="libloctext">Signaler tout comportement suspect d’une personne envers les oiseaux</li>
        </ul>

    </div>
    <!--Footer-->
    <div class="modal-footer">
        <button type="button" class="btn waves-effect waves-light teal lighten-2" data-dismiss="modal">J'ai compris</button>
    </div>
</div>
<!--/.Content-->