<h1>Fiche espèce</h1>
<p>Nom :<strong> {{ specie.lbName }}</strong></p>
<p>Nom vernaculaire :<strong> {{ specie.vernacularName }}</strong></p>
<p>Découvert par : <strong> {{ specie.lbAuthor }}</strong></p>